.wrapper{
    width: 960px;
    height: 1200px;
    min-height: 100%;
    margin:12px auto;
    background-color: white;
    border-radius: 15px}
    

html, body {
     height: 100%;
     background-image: url('Images/starsbackground.jpg');}

#Sithtext { font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:36px; font-weight:bold;}

#Sithtext2 { font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:18px; font-weight:bold;}

#banner{
      padding:0 20px; }
    
#banner img{
      display:block;
      margin:15px auto;}
      
#nav ul { list-style-type: none; }

#nav a { text-decoration: none;
         color: #ffffff;
         font-size: large;
         padding: 15px; }
        
#nav li { display: inline; }


#nav {text-align:center;
    border: 2px solid black;
	border-radius: 20px;
    background-color: black ;
    margin: 0 15px 0 15px ;}

.header1 { background-color:black;
            border-radius: 15px;
            color: #ffffff;
            padding: 5px;
            text-align:center}

.column-left{  float: left;
               width: 340px;
               text-align: center;
               margin: 0px 0px 0 15px;}
               
               
.column-right{ float: right;
                width: 550px;
                padding: 15px;
                margin: 15px 15px 15px 0px;
                background-color: #DCDCDC;
                border-radius: 10px}

.pic{ opacity: 1;
      filter: alpha(opacity=100); }
        
        
.pic:hover { opacity: 0.3;
            filter: alpha(opacity=30); } 